body {
    height:100vh;
}

.main {
    height: auto;;
    min-height: 80vh;
    padding:0 60px;
}

h1,h2,h3,h4,h5,h6 {
    color:#222;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-bottom:0;
}

a, p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    transition: all 0.3s;
}

a:hover {
    text-decoration:none !important;
}

.p-pembangunan.dashboard {
    display: flex;
    flex-direction: column;
    padding:0;

    background-image: url('../assets/images/bb_puspem.jpg');
    background-size:cover;
    background-position: center;
}

.p-pembangunan.dashboard.apps {
    background-image: url('../assets/images/bb_application.png');
}

/* Header */

.p-pembangunan.dashboard .header {
    background-color: transparent !important;
    box-shadow:none;
    padding:0 5%;
    min-height: 10vh;
}

.p-pembangunan.dashboard .header .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom:solid 1px rgba(255,255,255, .2);
    min-height: 10vh;
}

.p-pembangunan.dashboard .header .main-header .sites-logo {
    justify-content: flex-start;
    display: flex;
    flex: 1;
}

.p-pembangunan.dashboard .header .main-header .sites-title {
    display: none;
}

.p-pembangunan.dashboard.apps .header .main-header .sites-title {
    display: inherit;
}

.p-pembangunan.dashboard .header .main-header .sites-logo h1 {
    color:rgba(255,255,255, .9);
    font-size:16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin:0;
}

.p-pembangunan.dashboard.apps .header .main-header .sites-title h2 {
    color: rgba(255,255,255, .9);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.p-pembangunan.dashboard .header .main-header .date {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.p-pembangunan.dashboard .header .main-header .date p {
    font-size:1.1em;
    color: rgba(255,255,255, .9);
    margin:0;
}

/* Body Content */

.p-pembangunan.dashboard .main-content {
    margin:40px;
    min-height: auto;
    padding:0;
}

.p-pembangunan.dashboard .main-content .contents .rows {
    display: flex;
    flex-direction: column;
    flex:1;
}

.p-pembangunan.dashboard .main-content .contents .rows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin-bottom:2%;
}

.p-pembangunan.dashboard .main-content .contents .rows:last-child {
    margin-bottom:0;
}

.p-pembangunan.dashboard .main-content .contents .rows .column {
    display: flex;
    flex:1 0 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255, .25);
    border-top:solid 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    margin-right:2%;
    min-height: calc(40vh - 50px);
    transition: all 0.4s ease-in;
}

.p-pembangunan.dashboard .main-content .contents .rows .column.c1 {
    border-color:#19B5FE;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c2 {
    border-color: #3FC380;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c3 {
    border-color:#E9D460;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c4 {
    border-color: #3498DB;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c5 {
    border-color:#F62459;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c6 {
    border-color: #F03434;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c7 {
    border-color:#52B3D9;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c8 {
    border-color: #2ECC71;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c9 {
    border-color:#F39C12;
}
.p-pembangunan.dashboard .main-content .contents .rows .column.c10 {
    border-color: #4ECDC4;
}

.p-pembangunan.dashboard .main-content .contents .rows .column:last-child {
    margin-right:0;
}

.p-pembangunan.dashboard .main-content .contents .rows .column .image {
    text-align: center;
    margin-bottom:10%;
}

.p-pembangunan.dashboard .main-content .contents .rows .column .image img {
    width: 20%;
}

.p-pembangunan.dashboard .main-content .contents .rows .column h2 {
    font-weight : 500;
    font-size : 18px;
    letter-spacing : 1px;
    color : #FFFFFF;
    width: 40%;
    text-transform: uppercase;
    text-align: center;
    line-height: 140%;
    min-height: 20%;
    margin-bottom: 0;
}

/* Ripple Touch Effect */
.material_ripple{
    position: relative;
    display: inline-block;
    height: 36px;
    overflow: hidden;
}

.ripple-animate{
    position: absolute;
    -webkit-animation: norah-ripples 2s;
    animation: norah-ripples 2s;
    border-radius: 50%;
}

@-webkit-keyframes norah-ripples {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.49;
    }
    100% {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}


@keyframes norah-ripples {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.49;
    }
    100% {
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}

/* Modal */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    position: absolute;
    font-size: 40px;
    z-index: 999;
    background-color: rgba(255,255,255, .2);
    color: #ffffff;
    right: 2%;
    top: 5%;
    text-decoration: none;
    transition: 0.3s;
    width: 50px;
    text-align: center;
    border-radius: 3px;
}
.overlay .overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    transform: translate(0, 0);
    height: 100vh;
}
.my-player3-dimensions.vjs-fluid, .my-player4-dimensions.vjs-fluid {
    padding-top: 100vh !important;
}
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    background-color: rgba(255,255,255, .3);
}

.overlay .text-align p{
    text-align: center;
    color:#ffffff;
}

#myNav_ .overlay-content {
    overflow:auto;
} 

#myNav_.overlay .overlay-content {
    height: calc(90vh - 20px);
}  

#myNav_.overlay .overlay-content #dvModalBox_ {
    min-height: 100%;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Struktur */

.p-pembangunan.dashboard .struktur {
    min-height: 100vh;
    padding:5% 0 0;
}

.p-pembangunan.dashboard .struktur .col-md-12 {
    padding-left:0;
    padding-right:0;
}

.p-pembangunan.dashboard .struktur h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
}

.p-pembangunan.dashboard .struktur h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color:#555;
    margin-bottom:1%;
}

.p-pembangunan.dashboard .struktur .trees {
    margin:5% 0 0 1%;
}

.p-pembangunan.dashboard .struktur .trees .tree li:before {
    left:-1em;
}

.p-pembangunan.dashboard .struktur .trees .tree_label {
    background: transparent;
    color:#222;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.p-pembangunan.dashboard .struktur .trees .tree_label:after {
    left:-1.55em;
}

.p-pembangunan.dashboard .struktur .trees .btn-info {
    color: #fff;
    background-color: #52B3D9;
    border-color: #52B3D9;
    border-radius: 3px;
    padding: 6px 10px !important;
    margin-left: 10px;
}

.p-pembangunan.dashboard .struktur .modal .modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: 0;
    min-height: 500px;
    top: 50%;
    margin-top: 0;
    transform: translate(-50%,-60%) !important;
}

.p-pembangunan.dashboard .struktur .fade.in {
    background-color:rgba(0,0,0, .8);
}

.p-pembangunan.dashboard .struktur .card.hovercard {
    margin:0;
}

.p-pembangunan.dashboard .struktur .card.hovercard .btn-danger {
    color: #fff;
    background-color: #e02222;
    border:none;
    font-size: 16px;
    padding: 10px 50px;
    margin: 20px 0 30px;
}

.p-pembangunan.dashboard .struktur .card.hovercard .info .desc {
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin: 10px auto;
}


/* Dashboard Apps */

.p-pembangunan.dashboard .main-content .contents .rows.row-second {
    justify-content: center;
}

.p-pembangunan.dashboard .main-content .contents .rows.row-second .column {
    flex:0 0 23.5% !important;
}



/* Footer */

.p-pembangunan.dashboard .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    min-height: 10vh;
    padding: 0 6%;
}

.p-pembangunan.dashboard .footer .main-btn-action {
    flex:0 0 30%;
}

.p-pembangunan.dashboard .footer .main-btn-action .content-btn-action {
    display: flex;
}

.p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action {
    background-color: rgba(255,255,255, .25);
    min-width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5%;
}

.p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action.home {
    border-radius: 5px;
}

.p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action .fa {
    color:#ffffff;
    font-size:28px;
}

.p-pembangunan.dashboard .footer .copyright {
    flex: 0 0 70%;
}

.p-pembangunan.dashboard .footer p {
    color:rgba(255,255,255, .7);
    font-size:1em;
    font-weight: 300;
    margin-bottom:0;
}

@media only screen and (min-device-width: 2400px) {

    .p-pembangunan.dashboard .main-content {
        margin:2% 5%;
    }

    .p-pembangunan.dashboard .header .main-header .sites-logo h1,
    .p-pembangunan.dashboard .header .main-header .date p,
    .p-pembangunan.dashboard .main-content .contents .rows .column h2 {
        font-size: 50px;
    }

    .p-pembangunan.dashboard.apps .header .main-header .sites-logo h2 {
        font-size: 55px;
    }

    .p-pembangunan.dashboard .main-content .contents .rows .column h2 {
        width: 35%;
    }

    .p-pembangunan.dashboard .main-content .contents .rows .column {
        border-radius: 10px;
        border-top:solid 12px;
        min-height: calc(40vh - 100px);
    }

    .p-pembangunan.dashboard .footer {
        padding: 0 calc(7% - 25px);
    }

    .p-pembangunan.dashboard .footer p {
        font-size: 35px;
    }

    .p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action {
        padding:4.5%;
    }

    .p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action.prev {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: solid 2px rgba(255,255,255, .2);
    }
    
    .p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action.next {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: solid 2px rgba(255,255,255, .2);
    }

    .p-pembangunan.dashboard .footer .main-btn-action .content-btn-action .btn-action .fa {
        font-size: 60px;
    }
}